# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

# User settings
xcuserdata/
*.xcuserstate

# Build products
build/
*.app
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
*.podspec
Podfile.lock

# Carthage
Carthage/Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Archives
*.ipa
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Other
*.moved-aside
*.swp
*~.nib

# Hotpaws specific
.git/MERGE_MSG.swp
*.png
*.icns
